html, body{
    overflow-x: hidden;
    height: 100%
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* .hide-scroll{
    overflow: scroll;
    scrollbar-width: 700px;
}

.hide-scroll::-webkit-scrollbar {
    background: transparent; 
    width: 0px;
} 
*/
header .heardertoprightbgcls{
    padding: 0 40px;
    color:#360b62;
    width:100%;
    background:#fff;
   position: fixed;
  
    left:0;
    top:0;
    font-family: 'Roboto', sans-serif;
    z-index:99999999!important;
    box-shadow: 2px 3px 19px 3px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 2px 3px 19px 3px rgb(0 0 0 / 5%);
    -moz-box-shadow: 2px 3px 19px 3px rgba(0,0,0,.05);
}

/* .heardertoprightbgcls .container{
  width: 70%;
  margin-top: 20%;
  
} */
header .heardertoprightbgcls nav.navbar{
    padding: 0 !important;
    
}


header .navbar-nav .nav-link{
    line-height:22px;
    font-size:14px;
    font-weight:500;
    color:#360b62;
    font-family: 'Roboto', sans-serif;

}
header .navbar-nav li.nav-item{
    margin-left:15px;
}
header.heardertoprightbgcls .headersticky{
    box-shadow:2px 3px 19px 3px rgba(0,0,0,.05);
    -webkit-box-shadow:2px 3px 19px 3px rgba(0,0,0,.05);
    -moz-box-shadow:2px 3px 19px 3px rgba(0,0,0,.05);
    transition:all .5s ease;
}
#schedule-btn a{
    width:162px;
    height:42px;
    border:1px solid #360b62;
    font-size:14px;

    border-radius:25px;
    display:inline-block;
    text-align:center;
    margin:0 0 0 22px;
    color:#360b62;
}
#schedule-btn a:hover{
    background-color: #360b62;
    color: #fff;
}
a .headerscheduledemobtncls .headerscheduledemoshowbtncls{
    display:block;
}
.customnavdrpcls{
    border:none;
    border-radius:0;
    -webkit-box-shadow:0 0 5px 0 rgb(50,50,50,.1);
    -moz-box-shadow:0 0 5px 0 rgba(50,50,50,.1);
    box-shadow:0 5px 5px 0 rgb(50,50,50,.1);
    top:53px;
    padding-bottom:15px;
}
.customnavdrpcls a{
    font-size:12px;
    display:block;
    padding:10px 10px 0 10px;
    color:#360b62;
}
.customnavdrpcls a:focus, .customnavdrpcls a:hover{
    background:#fff;
    color:#360b62;
}
li.nav-item.dropdown:hover .dropdown-menu{
    display:block;
    margin-top:-15px;
}
header.heardertoprightbgcls{
  margin-top: 80px;
  background-color: #fff;
    padding-right:5px;
}
header .navbar-brand img{
    width:100px;
}
header nav{
    box-shadow: 2px 3px 19px 3px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 2px 3px 19px 3px rgb(0 0 0 / 5%);
    -moz-box-shadow: 2px 3px 19px 3px rgba(0,0,0,.05);
    padding: 0px 80px !important;
    background-color: #fff;
}
header.heardertoprightbgcls .navbar-toggler{
    border-radius:0;
}
header.heardertoprightbgcls .navbar-toggler .navbar-toggler-icon{
    background:0 0;
    position:relative;
    top:5px;
}
    header.heardertoprightbgcls .navbar-toggler .navbar-toggler-icon::after{
        content:"";
        width:25px;
        height:2px;
        background:#360b62;
        display:block;
        position:absolute;
        right:0;
        top:0;
        -webkit-transition:.5s ease-in-out;
        -moz-transition:.5s ease-in-out;
        -o-transition:.5s ease-in-out;
        transition:.5s ease-in-out;
    }
    header.heardertoprightbgcls .navbar-toggler .navbar-toggler-icon::before{
        content:"";
        width:17px;
        height:2px;
        background:#360b62;
        display:block;
        position:absolute;
        right:0;
        top:8px;
        -webkit-transition:.3s ease-in-out;
        -moz-transition:.3s ease-in-out;
        -o-transition:.3s ease-in-out;
        transition:.3s ease-in-out;
    }
    header.heardertoprightbgcls .navbar-toggler[aria-expanded=true]
    .navbar-toggler-icon::after,header.heardertoprightbgcls .navbar-toggler[aria-expanded=true]
    .navbar-toggler-icon::before{width:15px}header.heardertoprightbgcls
    .navbar-toggler[aria-expanded=true]
    .navbar-toggler-icon::before{
        top:8px;
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)
    }
        header.heardertoprightbgcls .navbar-toggler[aria-expanded=true] .navbar-toggler-icon::after{
            top:8px;-webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            transform:rotate(45deg)
        }
        header ul.navbar-nav{
            padding-top:5px
        }
        header .navbar-nav li.nav-item{
            margin-left:0
        }

/*hero section*/
#hero-section{
    position: relative;
       text-align: right;
        background: linear-gradient(to bottom,rgba(104,220,168,.3),rgba(104,220,168,1)), url(../img/Index/bg-header1.jpg) no-repeat;
         background-size:100%;
         height:70vh;
         background-size:cover;
         position:relative;
        color: black;
}
#hero-section .hero-heading h1{
    font-size: 82px;
    color:#191970;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-weight: 700;
}
#hero-section .hero-heading h4{
    font-size: 42px;
    color:#191970;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}
#hero-section .hero-heading p{
    font-size: 42px;
    color:#191970;
    letter-spacing: 2px;
    font-weight: 400;
}
#hero-section .hero-heading .btn-schedule{
        background:#b7436d;
        color:#fff;
       border: none;
       width:162px;
       height:42px;
       font-size:14px;
       font-weight: 400;
       letter-spacing: 0.9px;
       border-radius:25px;
       margin:0 0 0 22px;

}
/*hero section end*/

/*slick section */

/* collab section */
#collab{
    background-image: url(../img/Index/foundationtoolkitbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 0 40px 0;
}
#collab h1{
  font-weight: 700;
  letter-spacing: 1px;
    font-size: 55px;
    line-height: 67px;
    color: #000;
    margin-bottom: 20px;
}
#collab h3{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
    opacity: .6;
    margin-bottom: 40px;
    padding: 0 25px
}
#collab a{
    color: #360b62;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
#collab .fa-angle-right{
    margin-left: 3px;
    padding-top: 7px;
}

/*slider start */
#bigSlider{
    padding-top: 50px;
    width: 100%;
    background-image: url(../img/Index/foundationtoolkitbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}
#bigSlider h4{
 font-size: 16px;
 letter-spacing: 1px;
 font-weight: bold;
 color: #3917a2;
 text-transform: uppercase;

}
#bigSlider h1{
    font-weight: bold;
    color: #000;
   
   }
#bigSlider  .box1{
    padding-top: 45px;
}
#bigSlider p{
    color: #717171;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    opacity: .6;
    margin-bottom: 15px;
    max-width: 80%;
}
.mySlides a{
  color: #360b62;
  font-size: 14px;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #fff;
}

/* Fading animation */

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*slider end */
/* tiny slider*/
#slider{
    width: 100%;
    padding:10px 0;
    display: flex;
     justify-content:center; 
  
}
#slider .container{
width: 100%;
margin: 0;
}

.subcontainer{
width: 100%;

}
.slide-img{
width: 100%;
height: auto;

border-right: 1px solid #d4d3d3;

background-position: center;
background-size: cover;
display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide-img img{
    width: 60%;
height: auto;

}


@media (max-width: 1600px){
    #slider .container{
    width:100%;
}
}

/* tiny slider end */
/*framework */
#framework{
    background-color: #000627;
    padding: 40px 0 10px 0;
    background-image: url(../img/Index/bg-newmoi.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}


#framework .Grid_square {
    background: url(../img/Index/square-grid_bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    margin: auto;
    position: relative;
}
#framework h1{
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #fff;
    margin-bottom: 21px;
    max-width: 80%;
}
#framework p{
    font-size: 14px;
    line-height: 24px;
    color: rgba(255,255,255,.6);
    opacity: .8;
    margin-bottom: 15px;
    max-width: 80%;
}
#framework .grid-box p{
    font-size: 12px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.959);
    opacity: .8;
    padding-top: 30px;
    max-width: 100%;

}
/* framework end */
/* integration */
.integration{
    background-image: url(../img/Index/foundationtoolkitbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#integration h1{
    font-size: 54px;
    font-weight: bold;
    line-height: 65px;
    color: #000;
    margin-bottom: 20px;
}
#integration h4{
    font-size: 16px;
    line-height: 27px;
    color: #000;
    font-weight: 500;
    opacity: .6;
    
}
#integration .container{
    width: 75%;
}
.integrationiconinnerrowcls{
    margin-top:44px
}
.integrationiconinnerrowcls:nth-child(1) span:last-child::before{
    content:"";
    border-right:2px dashed #e3e3e3;border-bottom:
    2px dashed #e3e3e3;width:116px;height:100px;position:absolute;left:0;bottom:-75px}
    .integrationiconinnerrowcls:nth-child(2) span:first-child::before{
        content:"";border-left:2px dashed #e3e3e3;border-bottom:2px dashed #e3e3e3;width:116px;
        height:100px;position:absolute;left:114px;bottom:-70px
    }
    .integrationiconinnerrowcls span{
        float:left;width:calc(100% / 5);text-align:center;position:relative
    }
    .integrationiconinnerrowcls span img{
        position:relative;z-index:2;width:75px;height:75px
    }
    .integrationiconinnerrowcls span::after{
        content:"";position:absolute;right:0;top:36px;z-index:1;border-top:2px dashed #e3e3e3;width:100%
    }
    .integrationiconinnerrowcls span:first-child::after{
        width:50%
    }
    .integrationiconinnerrowcls span:last-child::after{
        width:50%;left:0;right:auto
    }
    .integrationiconinnerrowcls:nth-child(2){
        max-width:914px;margin:0 auto;margin-top:44px
    }
    .integrationiconinnerrowcls:nth-child(2) span{
        width:calc(100% / 4)
    }
    .integrationiconinnerrowcls:nth-child(2) span::after{
        top:28px
    }
    .integrationiconinnerrowcls:nth-child(2) span img{
        width:60px;height:60px
    }
    .integrationiconinnerrowcls:nth-child(3){
        max-width:678px;margin:0 auto;margin-top:44px
    }
    .integrationiconinnerrowcls:nth-child(3) span{
        width:calc(100% / 3)
    }
    .integrationiconinnerrowcls:nth-child(3) span::after{
        top:22px
    }
.integrationiconinnerrowcls:nth-child(3) span img{
    width:47px;
    height:47px
}

/* review slider*/
#reviews{
    background-image: url(../img/Index/foundationtoolkitbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#reviews .container{
    padding: 25px;
}
#reviews .card{
    margin: auto;
    padding-top: 25px;
    height: 360px;
    width: 90%;
    margin-bottom: 50px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 2px 0 #cdcdcd;
}
#reviews .row{
    margin: 0;
    padding:25px;
}
#reviews .row .col-xl-4{
    background-color: #573f75;
    color:  #12c3f4;
    box-shadow: 4px 4px 5px #cdcdcd;
    border: 1px solid #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    height: 250px;
     padding-top: 20px 25px 25px 15px;
     margin-bottom: 20px;
}
#reviews .card-slider{
    margin: 0 25px;
}
#reviews .row .col-xl-4 p:nth-of-type(1){
  width: 70%;
  text-align: center;
}
#reviews .col-xl-8 p:nth-last-of-type(1){
    color:#000627;
}
#reviews h5 span{
    font-size: 15px;
    color: #573f75;
    font-weight: bold;

}
#reviews h5 {
    font-size: 14px;
    color: #727271;
    letter-spacing: 0.2px;
}
/* .card-slider p:nth-of-type(1){
    width: 50%;
} */
.card-slider div:nth-of-type(2){
    text-align: center;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 400;
    /* line-height: 24px; */
    color: #212529;
}
.card-slider .pin{
    margin-top: -230px;
}
#reviews  .fa-quote-left, .fa-quote-right{
    font-size: 32px;
  text-align: left;
    color: #727271;
}
#reviews .r-dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#reviews  .active {
    background-color: #360b62;
  }
/*----------------------------------review slider end-----------------------------------------------------------*/


/* ---------------------------------------footer--------------------------------------------------------------- */
#Thrivera-footer .row .col-xl-8{
background:#f2f2f2 url(../img/footerbg.png) no-repeat;
    background-size: cover;
    background-position: left;
 
}
#Thrivera-footer .container{
 width: 85%;
 padding: 40px 0;
}
#Thrivera-footer h1{
    font-size: 62px;
    font-weight: bold;
    margin-bottom: 30px;
   color: #000;
   width: 80%;
}
#nested-row .nested-column{
    background-color: #f2f2f2 !important;
}
#Thrivera-footer h4{
    font-size: 16px;
    font-weight: 500;

}
#Thrivera-footer ul{
    list-style: none;
    line-height: 30px;
  padding-left: 0;
}
#Thrivera-footer a{
    cursor: pointer;
    text-decoration: none;
    color: #717171;
    font-size: 14px;
}
.contact-thrivera ul{
    padding-left: 0;
line-height: 30px;
}
.contact-thriveraa{
    cursor: pointer;
    text-decoration: none;
    color: #717171;
    font-size: 14px;
}
   #Thrivera-footer .row .col-xl-4{
    background-color: #ffc20e;
    } 
    #Thrivera-footer label{
        color: #717171;
    font-size: 14px;  
    }
    #thrivera-subscribe .form-subscribe{
        background-color: #fff !important;
        width: 500px;
        height: 450px;
        padding: 20px 40px;
        margin-left: -70%;
        margin-top: 20%;
    }
    #thrivera-subscribe .form-subscribe input{
        font-size: 14px;
        color: #d2d2d2;
        outline: 0;
        border-width: 0 0 1px;
        border-color: #d2d2d2;
        border-radius: 0;
    }
  .req-demo{
    margin-top: 30px;
    background-color: #360b62;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 25px;
  }

/* ----------------------------------------footer end ----------------------------------------------------------*/

/*-----------------About section---------------------------------------------------------------------*/
/* 
#about-hero img{
    height: 480px;
    width: auto;
   } */
   #about-hero h5{
    text-transform: uppercase;
   }
   #about-hero h1{
   color: #360b62;
   font-weight: 600;
   }
   #about-hero p{
    color: #727271;
    font-weight: 500;
    width: 80%;
    }
    #about-hero .about-hero{
        width: 88%;
        padding: 30px 0;
    }
   #explorebtn a{
        width:162px;
        height:42px;
        border:1px solid #360b62;
        font-size:14px;
        text-decoration: none;
        border-radius:25px;
        display:inline-block;
        text-align:center;
        
        color:#360b62;
    }
    #explorebtn a:hover{
        background-color: #360b62;
        color: #fff;
    }

/*about why what section */

#why-what img{
    height: 370px;
    width: auto;
   }
   #why-what .why-what{
     width: 88%;
     padding: 30px 0;
   }
   #why-what h1{
    color: #360b62;
    font-weight: 600;
    }
    #why-what p{
     color: #727271;
     font-weight: 500;
     width: 80%;
     }
/*about why what section end */

/*partner-organisation start */
#partner-organisation h3{
    color: #000;
    font-weight: 500;
     width: 70%;
    margin-bottom: 20px;
    line-height: 1.35;
}
/* .orgSlide {display: none;} */
.organisationSlider{
  position: relative;
   margin: auto;
 
}
 .dot-org {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #360b62;
  }
  .orgSlide img{
    width: 120px;
    height: auto;
  }
/*partner-organisation end */
    
/*-----------------About section end---------------------------------------------------------------------*/
/*-----team------------*/
#Team-hero{
   height: 570px;
   }
   #Team-hero .Team-hero{
     width: 80%;
   }
   #Team-hero .Team-hero h1{
     color: #360b62;
     font-weight: 700px;
  }

  #Team-hero .team{
    border-radius: 50%;
    height: 200px;
    border: 5px solid #ff9201;
    width: 200px;
  }
  #Team-hero h1{
    font-size: 72px;
    font-weight: 700;
    

  }
  #Team-hero h1 span{
    color: #ff9201;
  }
 
  #Team-hero p{
    width: 60%;
    color: #717171;
    font-size: 14px;
  }
  .team1{
    background:#f2f2f2 url(../img/Team//team3\ \(1\).jpg) no-repeat;
    background-size: contain;
  }
  .team2{
    background:#f2f2f2 url(../img/Team/team3\ \(2\).jpg) no-repeat;
    background-size: contain;
  }
  .team3{
    background:#f2f2f2 url(../img/Team/team3\ \(3\).jpg) no-repeat;
    background-size: contain;
  }
  .team4{
    background:#f2f2f2 url(../img/Team/team4.jpg) no-repeat;
    background-size: contain;
  }
  #team-culture{
    height: 500px;
  }
  #team-culture .team-culture{
    width: 88%;
    height: 500px;
  }
  #team-culture h1{
    font-size: 62px;
    color: #360b62;
    font-weight: 700;
  }
  #team-culture p{
    width: 90%;
    line-height: 28px;
    color: #717171;
  }
  #team-culture .img-culture{
    background:url(../img/Team/team-meeting-online-conference-call.jpg) no-repeat;
    background-size: cover;
    height: 400px;
    
  }

  #Team-leadership{
    height: 450px;
   
  }
  #Team-leadership h1{
    color: #360b62;
    font-weight: 600;
  }
  .teamSlider{
   margin: 40px 0;
  position: relative;

  }
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.dot{
   background-color: #717171;
  }
 .active{
  background-color: #360b62;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #360b62;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .team-memeber{
    height: 150px;
    width: 150px;
    border: 3px solid white;
    
  }
  .member-detail{
   width: 180px;
   height: 50px;
   margin-top: -40px;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
  }
  .member-name{
    font-size: 14px;
    font-weight: 600;
  }
  .member-position{
    color:#191970;
    font-size: 12px;
    font-weight:normal;
  }
  .member-1{
    background:url(../img/Team/team3\ \(1\).jpg) no-repeat;
    background-size: cover;
  }
  .member-2{
    background:url(../img/Team/team3\ \(2\).jpg) no-repeat;
    background-size: cover;
  }
  .member-3{
    background:url(../img/Team/team3\ \(3\).jpg) no-repeat;
    background-size: cover;
  }
  .member-4{
    background:url(../img/Team/team4.jpg) no-repeat;
    background-size: cover;
  }
   .frame{
    height: 200px;
    background-color: #78c8a1;
    padding: 20px 30px 0 30px;
  }
  #team-join{
    background-color: #f2f2f2;
  }
 #team-join .team-join{
    width: 90%;
 } 
  #team-join .row{
    height: 400px;
  }
  #team-join .joincolumn1{
    background-color: #573f75;
    color: #fff;
  }
  #team-join h2{
    color: #12c3f4;
    font-size: 26px;
    font-weight: 600;
  }
  #team-join h1{
    font-size: 32px; 
    font-weight: 600;
  }
  #team-join  .joincolumn2{
    background-color: #f2f2f2;
  }
  #team-join p{
    line-height: 26px;
    font-size: 14px;
    color: #333;
  }
  #team-join  .joincolumn3{
    margin-top: -30px;
    background-color: #fff;
    height: 460px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  #team-join  label{
    color: #717171;
font-size: 14px;  
}
#team-join  .form-subscribe{
    padding: 30px 0;
    margin: 20px 0;
}

#team-join  .form-subscribe input{
    font-size: 14px;
    color: #d2d2d2;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #d2d2d2;
    border-radius: 0;
}
#team-join .upload-resume{
    margin-top: 30px;
    background-color: #573f75;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 10px 30px;
    border-radius: 45px;

}
/*----team end ------------*/



/*----Enable start ------------*/
#enable-hero .enable-hero{
    width: 90%;
    padding: 20px 0;
}
#enable-hero .enable-hero a{
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 25px 15px 10px;
    background-color: #360b62;
}
#enable-hero .enable-hero h1{
    color: #360b62;
    font-weight: 600;
    font-size: 58px;
}
#enable-hero .enable-hero p{
    color: #717171;
    font-size: 16px;
    line-height: 28px;
}
#enable-hero .enable-hero a:hover{
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    color: #360b62;
    border: 3px solid #360b62;
}
#enable-hero .enable-hero span{
    border-radius: 50%;
    background-color: #fff;
    padding:4px 10px;
    color: #360b62;
}
#enable-hero .enable-hero a:hover span{
    text-decoration: none;
    background-color:#360b62;
    color: #fff;
    border: 3px solid #360b62;
}


/*collapse */

/*----Enable end ------------*/















/* Responsive */

@media (max-width:1190px) and (min-width:764px){
    #reviews .row .col-xl-4{
        padding: 10px;
        height: auto;
    }
    .card-slider .pin{
        margin-top: -80px;
    }
    #bigSlider{

        height: auto;
    
    }
    #hero-section{
        height: auto;
        padding: 25px 0;
    }
    #hero-section .hero-heading h1{
        font-size: 42px;
    }
    #hero-section .hero-heading h4{
        font-size: 24px;
    }
    #hero-section .hero-heading p{
        font-size: 16px;
    }
    
    #thrivera-subscribe .form-subscribe{
         width: 90%;
        height: auto;
        padding: 20px 40px;
        margin-left: 5%;
        margin-top: -5%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #Thrivera-footer h1{
        font-size: 42px;
    }
    #Team-hero{
        height: auto;
        }
       
        header nav{
            padding: 0px !important;
        }
}
@media (max-width:765px) and (min-width:300px){
    #reviews .row .col-xl-4{
        height: auto;
        padding: 10px;
    }
    .card-slider .pin{
     margin-top: -100px;
    }
    #bigSlider{
        padding: 25px 0;
        height: auto;
    
    }

    #hero-section{
        height: auto;
    }
    #hero-section .hero-heading h1{
        font-size: 42px;
    }
    #hero-section .hero-heading h4{
        font-size: 24px;
    }
    #hero-section .hero-heading p{
        font-size: 16px;
    }
    #thrivera-subscribe .form-subscribe{
        width: 90%;
       height: auto;
       padding: 20px 40px;
       margin-left: 5%;
       margin-top: -5%;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   #Thrivera-footer h1{
    font-size: 42px;
}
#Team-hero{
    height: auto;
    }
    header nav{
        padding: 0px !important;
    }
    #reviews .card-slider{
        margin: 0;
    }
    .card-slider div:nth-of-type(2){
     
        padding: 0px;
      
        /* line-height: 24px; */
        color: #212529;
    }
    #why-what img{
        height: 250px;
        width: auto;
       }
}
@media (max-width:983px) and (min-width:300px){
    #reviews .row .col-xl-4{
        padding: 10px;
        height: auto;
    }
    #reviews .card{
        height: auto;
        width: 100%;
    
}
header nav{
    padding: 0px !important;
}
#bigSlider{

    height: auto;

}
#hero-section{
    height: auto;
    padding: 25px 0;
}
#hero-section .hero-heading h1{
    font-size: 42px;
}
#hero-section .hero-heading h4{
    font-size: 24px;
}
#hero-section .hero-heading p{
    font-size: 16px;
}
#thrivera-subscribe .form-subscribe{
    width: 90%;
   height: auto;
   padding: 20px 40px;
   margin-left: 5%;
   margin-top: -5%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  #Thrivera-footer h1{
        font-size: 42px;
    }
    #Team-hero{
        height: auto;
        }

}
/* Responsive end */